LOOPBACK=D
NONBLOCKING=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
INTERFACE=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
STARTUP=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
GARLIC=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
GAROPT=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
TCP=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
TERMINATION=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
PARTITION=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
RPC=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
HEART=C:D:X:E:F:I:K:L:M:P:R:Q:S:T:Z:W:G:Y
GARREP=D
GARTRA=D
