apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: interface-repository-hpa
  namespace: polyorb
  labels:
    app: interface-repository
    version: v1.0.0
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: interface-repository
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
