*.ali
*.o
Makefile
b_*.c
config.cache
config.log
config.status
make-check-stamp

# These are the default patterns globally ignored by Subversion:
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_store
