Source: adabroker
Maintainer: Thomas Quinot <thomas@debian.org>
Section: devel
Priority: extra
Standards-Version: 3.0.0

Package: adabroker
Architecture: any
Depends: ${adabroker:Depends}
Description: AdaBroker binary package.
 This package contains the adabroker IDL-to-Ada compiler, and
 the Broca runtime-library (the AdaBroker ORB).
