#! /usr/bin/make -f
# Generated automatically from debian/packages
# by yada v0.9, of Tue, 07 Dec 1999

.PHONY: default
default:
	@echo "Specify a target:"; \
	echo " build              compile the package"; \
	echo " binary             make all binary packages"; \
	echo " binary-arch        make all architecture-dependent binary packages"; \
	echo " binary-indep       make all architecture-independent binary packages"; \
	echo " clean              clean up the source package"; \
	echo; \
	echo " depends            check build-time dependencies"; \
	echo " install-tree       compile the package and create the install trees"; \
	echo " clean-install-tree clean up only under debian/"; \
	echo

# Check build dependencies and conflicts

.PHONY: depends
depends: debian/depends-stamp
debian/depends-stamp:
	@echo 'Checking build conflicts and dependencies; just a minute...'
	@echo -n 'gnat...'; v=$$(dpkg -s 'gnat' | sed -n '/^[sS][tT][aA][tT][uU][sS]:.* config-files$$/q;s/^[vV][eE][rR][sS][iI][oO][nN]: *//p'); \
	if test "$$v"; then \
	    exit 0; \
	fi; \
	echo 'Build depends on `gnat'\'' (any version), which is not satisfied' | fmt; exit 1
	@echo -n 'g++...'; v=$$(dpkg -s 'g++' | sed -n '/^[sS][tT][aA][tT][uU][sS]:.* config-files$$/q;s/^[vV][eE][rR][sS][iI][oO][nN]: *//p'); \
	if test "$$v"; then \
	    exit 0; \
	fi; \
	echo 'Build depends on `g++'\'' (any version), which is not satisfied' | fmt; exit 1
	@echo
	@echo 'Conflicts and dependencies all satisfied!'
	touch debian/depends-stamp

# Build the package and prepare the install tree

.PHONY: build-only build
build-only: debian/build-stamp
build: build-only

# Make sure these rules and the control file are up-to-date

.PHONY: rules control
rules: debian/rules
debian/rules: debian/yada debian/packages
	chmod +x debian/yada
	debian/yada rebuild rules

control: debian/control
debian/control: debian/yada debian/packages
	chmod +x debian/yada
	debian/yada rebuild control

debian/build-stamp: debian/depends-stamp
	@[ -f debian/yada -a -f debian/rules ]
	@umask 022 && (\
	echo -E 'eval "yada () { perl $$(pwd)/debian/yada \"\$$@\"; }"; set -e; set -v';\
	echo -E 'make') | /bin/sh
	touch debian/build-stamp

.PHONY: install-tree
install-tree: install-tree-any
install-tree-any: \
	debian/tmp-adabroker/DEBIAN/control

debian/tmp-adabroker/DEBIAN/control: debian/build-stamp debian/control
	rm -rf debian/tmp-adabroker
	umask 022 && install -d debian/tmp-adabroker/DEBIAN
	chmod +x debian/yada
	install -d debian/tmp-adabroker/usr/share/doc/adabroker
	umask 022; debian/yada generate copyright \
	                       >debian/tmp-adabroker/usr/share/doc/adabroker/copyright
	install -m 644 -p debian/changelog \
	                  debian/tmp-adabroker/usr/share/doc/adabroker/changelog.Debian
	@umask 022 && export PACKAGE="adabroker" \
	    && export ROOT="$$(pwd)/debian/tmp-adabroker" \
	    && export CONTROL="$$(pwd)/debian/tmp-adabroker/DEBIAN" && (\
	echo -E 'eval "yada () { perl $$(pwd)/debian/yada \"\$$@\"; }"; set -e; set -v';\
	echo -E 'yada install -bin adabroker/adabroker -as adabroker';\
	echo -E 'yada undocumented adabroker.1';\
	echo -E 'yada install -data -into /usr/lib/adabroker src/*.ad? src/*.ad? src/*.ali src/libbroca.a') | /bin/sh
	LD_LIBRARY_PATH="debian/tmp-adabroker/lib:debian/tmp-adabroker/usr/lib:$$LD_LIBRARY_PATH" dpkg-shlibdeps -padabroker -dDepends debian/tmp-adabroker/usr/bin/*
	debian/yada compress adabroker
	find debian/tmp-adabroker -type f -print \
	  | sed -n 's/^debian\/tmp-adabroker\(\/etc\/.*\)$$/\1/p' \
	    > debian/tmp-adabroker/DEBIAN/conffiles
	if test ! -s debian/tmp-adabroker/DEBIAN/conffiles; then rm -f debian/tmp-adabroker/DEBIAN/conffiles; fi
	debian/yada generate maintscripts adabroker
	umask 022 && dpkg-gencontrol -isp -padabroker -Pdebian/tmp-adabroker

# Build package files

.PHONY: binary binary-arch binary-indep
binary: binary-arch binary-indep
binary-arch: binary-arch-any

.PHONY: binary-arch-any
binary-arch-any: \
	binary-package-adabroker
binary-indep:

.PHONY: binary-package-adabroker
binary-package-adabroker: check-root debian/tmp-adabroker/DEBIAN/control
	@[ -f debian/yada -a -f debian/rules ]
	chown -R 0.0 debian/tmp-adabroker
	chmod -R u=rwX,go=rX debian/tmp-adabroker
	@if [ -d debian/tmp-adabroker/usr/doc/adabroker ]; then \
	  echo "*** Yada warning: /usr/doc/adabroker should be /usr/share/doc/adabroker";\
	fi
	dpkg-deb --build debian/tmp-adabroker ..

.PHONY: check-root
check-root:
	@[ `id -u` = 0 ] || (echo "You must be root to do this!"; false)

# Clean up afterwards

.PHONY: clean clean-install-tree clean-build
clean: clean-install-tree clean-build debian/control debian/rules

clean-build:
	@[ -f debian/yada -a -f debian/rules ]
	rm -f debian/build-stamp debian/depends-stamp
	@umask 022 && (\
	echo -E 'eval "yada () { perl $$(pwd)/debian/yada \"\$$@\"; }"; set -e; set -v';\
	echo -E 'make clean || true') | /bin/sh

clean-install-tree: debian/rules
	@[ -f debian/yada -a -f debian/rules ]
	rm -f debian/install-tree-stamp
	rm -rf debian/tmp* debian/files* debian/substvars
